/* ======================
       TYPOGRAPHY
======================= */

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Spartan:wght@300;400;700&display=swap');


.name {
    font-family:"Clicker Script";
    font-size: 48px;
    font-weight: 400;
    
}

h1 {
    margin-top: 0;
    font-family: Spartan;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Spartan;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    font-family: Spartan;
    font-size: 20px;
    text-align: center;
}

h4 {
    font-family: Spartan;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

body {
    font-family: Spartan;
    font-size: 14px;
    font-weight: 400;
}

.contact p {
    color: #7f7f7f;
}

/* ======================
       UNIVERSAL
======================= */

/* Establishes True Width of Container  */
* {
	box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

/* ======================
     NAVIGATION 
======================= */
.nav {
    display: block;
}

ul {
    list-style-type: none;
    display: inline-block;
}

/* li {
    display: none;
    display: block;
} */

/* li a {
    text-decoration: none;
    padding-right: 1em;
    display: block;

   } */



ul li {
    text-decoration: none;
}

/* ======================
       CONTENT
======================= */

/* Adds L/R Padding on All Media  */
.container {
        padding-left: 1em;
        padding-right: 1em; 
}

/* Removes Margin from Header Area  */
.name {
    margin: 0;
    text-align: center;
    justify-content: center;
    text-transform: none;
}

/* Prevents Vertical Margin Collapsing  */
.main-header {
    padding: 1em 0px; 
    text-align: center;
}

.skills {
    background-color: #52489c;
    color:white;
}
/* Wraps Nav to Content for Sticky Footer  */

.wrap {
	min-height:calc (100vh-89px);

}

/* Centers Footer Text  */
.main-footer {
    text-align: center;
    background-color: #fafafa;
    padding: 0 0;
    color: white;
}


/* ======================
     MEDIA QUERIES
======================= */

/* ======================
    MOBILE VIEW
======================= */
 
@media (min-width: 320px) {

	.container {
		width: 100%;
		max-width: 767px;
        Margin: 0 0;
        Padding: 0 10px;
    }

    a {
        padding-right: 0px;
        text-decoration: none;
        display: block;
    }

    .main-header {
        text-align: center;
        background-color: #fafafa;
    }

    .nav {
        margin: 0 auto;
        display: block;
        padding: 0px 16px;
    }

    .nav li {
        display: block;
        background-color: white;
        padding: 0px 0;
        margin: 0px 0;
    }

    .menu {
        display: block;
    }

    .menu li a {
        display: block;
    }

    li {
        display:block; 
    }

    .name {
        text-align: center;
        display: inline-block;
        padding: 0 0;
        font-size: 30px;
        color:#2472aa;
    }

    .person {
        width:200px;
        height:120px;
    }

    }
    h1 {
        padding-top: 2rem;
    }

    h3 {
        font-size: 16px;
    }

    p {
        padding: 0 0px;
        line-height: 1.5em;
    }

    img {
        width: 100%;
        height: 15rem;
    }

    .portfolio img {
        padding-top: 2rem; 
    }

    .skills {
        width: 100%;
        margin: 1rem 0;
        padding: 2em 2rem;
        background-color: #52489c;
        justify-content: center;
        text-align: center;
        display: block;
    }

    .circles {
        height: 10rem;
        width: 10rem;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0;
    }

    .footer-name {
        float:left;
        font-family:"Clicker Script";
        font-size: 24px;
        font-weight: 400; 
        color: #2472aa;
        text-transform: none;
        padding-left: 1rem;
        padding-top: 2rem;
    }

    .footer-menu {
        display: none;

    }

    .contact {
        justify-content: center;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    body {
        text-align: center;
    }
    .main-footer {
        background-color: #fafafa;
    
    }

    .top {
        padding-top: 1rem;
        padding-right: 1rem;
        float:right;
        color:#091d2b;
        text-transform: uppercase;
        font-size: 1rem;
    }




/* ======================
     TABLET VIEW
======================= */

/* Tablet Media Query  */
@media (min-width: 768px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }
    .nav {
        width: 100%;
    }

    .main-header {
        display: block;
        width: 100%;
        background-color: #fafafa;
    }
    #home {
        background-color: #fafafa;

    }
    .ul.menu {
        width: 100%;
    }
    .name {
        display:block;
        margin: 0 0;
        font-size:32px;
        color:#2472aa;
        padding-top:12px; 
        background-color: #fafafa;
    }

    a {
        background-color:#fafafa;
    }
    .menu {
        display:block;
    }

    .nav {
        margin: 0 auto;
        display: block;
        background-color: #fafafa;
    }

    .menu {
        display: inline-block;
        background-color: #fafafa;
       
    }

    .menu li {
        display:inline-block;
        text-decoration: none;
        text-align: center;
    }

    .nav li {
        background-color: #fafafa;
        padding-right:24px;
    }

    .menu li a {
        display:inline-block;
        text-decoration: none;
        text-align: center;
    }

    li a {
        display:inline-block;
        text-decoration: none;
        text-align: right;
    }

    .person {
        float:right;
        background-color:#fafafa;
        width: 50%;
        height: 50%;
        margin-bottom: 1rem;
    }

* 
    .intro {
        padding-top: 0rem;;
        margin-top: 0px;
        margin-right:0px;
        margin-bottom: 0px;
        background-color:#fafafa;
        float: left;
        width:50%; 
        text-align: left;
        color: #7f7f87;
    }

    
    .introduction {
        width: 100%;
        background-color:#fafafa;
        margin: 2rem auto;
    }

    .top {
        display: none;
    } 
/*      
    .left-column,
    .right-column {
        width:50%;
    }

   .left-column {
       float: left;
   }

   .right-column {
       float:right;  
   } */

   .three {
    float: left;
    width:  50%;
    padding-left: 20px;
    padding-right: 20px;
  } 

   .portfolio p {
       padding: 0 24px;
   }

   .skills p {
       padding: 0 15rem 2rem 15rem;
       line-height: 1.5rem;
   }

    p {
        padding: 0 24px;
    }

    .contact {
        background-color: white;
        width:100%;
    }

   .contact p {
        padding: 0 80px;
        line-height: 1.5rem;
        margin: 0 6rem; 
   }

   .footer-name {
       float:left; 
       padding-left: 40px;
   }

   .footer-menu {
       float:right; 
       display:inline; 
    }

    .main-footer {
        color: #4a4a4a;
        font-weight: 700;
        text-transform: uppercase;
    }

    .main-footer li a {
        display: inline;
    }

    ul {
        display: inline-block;
    }

    li {
        display: inline-block;
        padding-top: 36px;
        padding-right: 16px;
        margin-right:16px;
    }

    li a {
        display: inline-block;
    }



/* ======================
     DESKTOP VIEW
======================= */


/* Desktop Media Query  */
@media (min-width: 1024px) {
    
    .nav {
        margin-right:80px;
    }

    .container {
        margin-right: 0px;
    }

    /* .menu {
        margin-right:80px;
    } */

    .top {
        display: none;
        float: right;
    } 

    .container {
        width: 80%;
        max-width: 1150px;
    }

    .name {
        float:left;
        font-size: 40px;
        padding-top: 24px;
        color: #2472aa;
        padding-right: 100px;
    }

    .nav li {
        padding-top: 0px;
    }

    li {
        padding: 0px;
    }
    
    li a {
        font-size:20px;
        padding-top:16px; 
    }

    .menu {
        float:right;
        font-size: 24px;
    }

    .intro {
        font-size:22px;
        text-align: left;
        color: #7f7f7f;
    }

    .left-column,
    .right-column {
        width:50%;
    }

   .left-column {
       display: table-row;
   }

   .right-column {
       display: table-row; 
   }

  .three {
    float: left;
    width:  32%;
    padding-left: 20px;
    padding-right: 20px;
    } 

  .portfolio p {
    padding: 0 20px;
    }

    .skill-1, .skill-2, .skill-3 {
        width:  33%;
        padding-left: 20px;
        padding-right: 20px;
        float: left;
    }

    /* .skill-1, .skill-2, .skill-3 p{
        padding: 0 0;
    } */

    .skills p {
        padding: 0 50px;
        margin-bottom: 40px;
    }

    .skills {
        margin-top: 40px;
    }

    .contact p{
        padding: 0 400px;
        line-height: 1.5rem;
        margin: 0 6rem; 
        color: #7f7f7f;
    }

    .main-footer {
        margin-top: 16px; 
        margin-right:80px;
    }

    .footer-name {
        float:left;
        font-size: 40px;
        padding-top: 24px;
        color: #2472aa;
        padding-right: 40px;
        margin-left:88px;
    }

    .footer-menu li {
        font-size: 0px;
        padding-top:12px;

    }
}
}