/* ======================
       TYPOGRAPHY
======================= */

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Spartan:wght@300;400;700&display=swap');

.name {
    font-family:"Clicker Script";
    font-size: 48px;
    font-weight: 400;
    
}

h1 {
    margin-top: 0;
    font-family: Spartan;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Spartan;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    font-family: Spartan;
    font-size: 20px;
    text-align: center;
}

h4 {
    font-family: Spartan;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

body {
    font-family: Spartan;
    font-size: 14px;
    font-weight: 400;
}

/* ======================
       UNIVERSAL
======================= */

/* Establishes True Width of Container  */
* {
	box-sizing: border-box;
}

.clearfix::after {
    content:"";
    border:table;
    clear:both;
}

/* ======================
     NAVIGATION 
======================= */
.nav {
    display: block;
}
.nav li {
    display: block;
}

ul {
    list-style-type: none;
    display: block;
}

/* li {
    display: none;
    display: block;
} */

/* li a {
    text-decoration: none;
    padding-right: 1em;
    display: block;

   } */



ul li {
    text-decoration: none;
}

/* ======================
       CONTENT
======================= */

/* Adds L/R Padding on All Media  */
.container {
        padding-left: 1em;
        padding-right: 1em; 
}

/* Removes Margin from Header Area  */
.name {
    margin: 0;
    text-align: center;
    justify-content: center;
    text-transform: none;
}

/* Prevents Vertical Margin Collapsing  */
.main-header {
    padding: 1em 0px; 
    text-align: center;
}

.skills {
    background-color: #52489c;
    color:white;
}
/* Wraps Nav to Content for Sticky Footer  */

.wrap {
	min-height:Calc (100vh-89px);
}

/* Centers Footer Text  */
.main-footer {
    text-align: center;
    background-color: #fafafa;
    padding: 0 0;
    color: white;
}


/* ======================
     MEDIA QUERIES
======================= */

@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 100%;
		max-width: 767px;
        Margin: 0 0;
        Padding: 0 10px;
    }

    .header {
        text-align: center;
    }

    .nav {
        margin: 0 auto;
        display: block;
        padding: 0px 16px;
    }


    .name {
        text-align: center;
        display: inline-block;
        padding: 1rem 0;
    }

    h1 {
        padding-top: 2rem;
    }

    h3 {
        font-size: 16px;
    }

    img {
        width: 100%;
        height: 10rem;
    }

    .portfolio img {
        padding-top: 2rem; 
    }

    .skills {
        width: 100%;
        margin: 1rem 0;
        padding: 2em 2rem;
        background-color: #52489c;
        justify-content: center;
        text-align: center;
        display: block;
    }

    .circles {
        height: 10rem;
        width: 10rem;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0 auto;
    }

    .footer-name {
        float:left;
        font-family:"Clicker Script";
        font-size: 24px;
        font-weight: 400; 
        color: #2472aa;
        text-transform: none;
        padding-left: 1rem;
        padding-top: 2rem;
    }

    .footer-menu {
        display: none;

    }

    .contact {
        justify-content: center;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    body {
        text-align: center;
    }
    .main-footer {
        background-color: #fafafa;
    
    }

    .top {
        padding-top: 1rem;
        padding-right: 1rem;
        float:right;
        color:#091d2b;
        text-transform: uppercase;
        font-size: 1rem;
    }

}



/* Tablet Media Query  */
@media (min-width: 768px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }
    .nav {
        width: 100%;
    }

    .main-header {
        display: block;
        width: 100%;
        background-color: #fafafa;
    }
    #home {
        background-color: #fafafa;

    }
    .ul.menu {
        width: 100%;
    }
    .name {
        display:block;
        margin: 0 auto;
        font-size:32px;
        padding-top:12px; 
        background-color: #fafafa;
    }

    .nav {
        margin: 0 auto;
        display:block;
        background-color: #fafafa;
    }

    .menu {
        display: inline-block;
        background-color: #fafafa;
       
    }

    .menu li {
        display: inline-block;
        padding-right: 16px;
        text-decoration: none;
        text-align: right;
    }

    li a {
        display:inline-block;
        text-decoration: none;
        text-align: right;
    }

    .person {
        float:right;
    }
* 
    .intro {
        padding-top:16px;
        margin-right:8px;
        margin-bottom: 150px;
    }

    .introduction {
        width: 100%;
        background-color:#fafafa;
    }

    /* .clearfix p {
        float:left;
    }

    p {
        float:left;
    } */ */

    .top {
        display: none;
    } 
    
    .left-column,
    .right-column {
        width:50%;
    }

}


/* Desktop Media Query  */
@media (min-width: 1024px) {
    
 

    .top {
        display: none;
        float: right;
    } 

    .container {
        width: 80%;
        max-width: 1150px;
    }
   }