/* ======================
       TYPOGRAPHY
======================= */

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Spartan:wght@300;400;700&display=swap');

.name {
    font-family:"Clicker Script";
    font-size: 48px;
    font-weight: 400;
    
}

h1 {
    margin-top: 0;
    font-family: Spartan;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-family: Spartan;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    font-family: Spartan;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-family: Spartan;
    font-size: 16px;
    font-weight: 700px;
    text-transform: uppercase;
}

body {
    font-family: Spartan;
    font-size: 14px;
    font-weight: 400;
}

/* ======================
       UNIVERSAL
======================= */

/* Establishes True Width of Container  */
* {
	box-sizing: border-box;
}

.clearfix::after {
    content:"";
    border:table;
    clear:both;
}

/* ======================
     NAVIGATION 
======================= */
.nav {
    display: block;
}
.nav li {
    display: inline-block;
}

ul {
    list-style-type: none;
    display: block;
}

li {
    display: none;
    display: block;
}
li a {
    text-decoration: none;
    padding-right: 1em;
    display: block;

}



ul li {
    text-decoration: none;
}

/* ======================
       CONTENT
======================= */

/* Adds L/R Padding on All Media  */
.container {
        padding-left: 1em;
        padding-right: 1em; 
}

/* Removes Margin from Header Area  */
.name {
    margin: 0;
    text-align: center;
    justify-content: center;
}

/* Prevents Vertical Margin Collapsing  */
.main-header {
    padding: 1em 0px; 
    text-align: center;
}

.skills {
    background-color: #52489c;
    color:white;
}
/* Wraps Nav to Content for Sticky Footer  */

.wrap {
	min-height:Calc (100vh-89px);
}

/* Centers Footer Text  */
.main-footer {
    text-align: center;
    background-color: #fafafa;
    padding: 2em 0;
    color: white;
}

/* ======================
     MEDIA QUERIES
======================= */

@media (min-width: 320px) and (max-width: 767px) {
	.container {
		width: 80%;
		max-width: 767px;
        Margin: 0 auto;
        Padding: 0 16px;
    }

    .header {
        text-align: center;
    }

    .nav {
        margin: 0 auto;
        display: block;
        padding: 0px 16px;
    }


    .name {
        text-align: center;
        display: inline-block;
    }

    img {
        width: 100%;
        height: 5rem;
    }
}



/* Tablet Media Query  */
@media (min-width: 768px) and (max-width: 1023px) {

}

.name {
    float:left; 
}

/* Desktop Media Query  */
@media (min-width: 1024px) {
    .name {
        float:left; 
    }

}